html, body, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #f00;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}
body {
	text-align: center;
	font: 12px arial, sans-serif;
	background: #eee;
}
#outer {
	background: top center url(images/header_bg.jpg) repeat-x;
}
#wrapper {
	text-align: left;
	margin: auto;
	width: 756px;
}

#header {
	background: top left url(images/logo.gif) no-repeat;
	height: 78px;
}
#header h1 {
	color: #FD2E00;
	font-weight: normal;
	font-size: 22px;
	padding: 20px 0 0 70px;
	margin: 0;
}
#header p {
	color: #333333;
	padding: 0 0 10px 70px;
	margin: 0;
}
#nav {
	background: url(images/header_c_bg.gif) repeat-x;
	position: relative;
	height: 370px;
}
#nav a {
	color: #E7E4E4;
	text-decoration: none;
}
#nav a:hover {
	color: #fff;
	text-decoration: none;
}
#nav ul {
	padding: 70px 0 0 382px;
	margin: 0;
	position: relative;
	z-index: 1;
}
#nav li {
	background: left center url(images/bullet.gif) no-repeat;
	padding: 10px 0 8px 30px;
	margin: 0;
}
#nav li#m1 { margin-left: 19px; }
#nav li#m2 { margin-left: 11px; }
#nav li#m3 { margin-left: 3px; }
#nav li#m4 { margin-left: 0px;  }
#nav li#m5 { margin-left: 2px; }
#nav li#m6 { margin-left: 8px; }
#nav a {
	font-weight: normal;
}
#search {
	margin: 23px 0 0 400px;
}
#search h2 {
	font-weight: normal;
}
#search form {
	margin: 0;
	padding: 0 0 10px 0;
}
#search input.text {
	border: 1px solid #333;
	background: #E7E4E4;
}
#search input.submit {
	border: none;
	background: #E7E4E4;
}
#search a {
	color: #333;
	padding: 0 5px;
}
#search a:hover {
	color: #300;
}
#head {
	background: url(images/header.jpg) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 382px;
	height: 370px;
}
#head-pip {
	background: url(images/header_pip.jpg) no-repeat;
	position: absolute;
	top: 0;
	left: 382px;
	width: 48px;
	height: 94px;			
}

#body {
	background: top left #EEEEEE url(images/body_bg.gif) repeat-y;
	position: relative;
	left: -10px;
	width: 775px;
}
#body-inner {
	padding: 0px 23px 28px 31px;
}
#body-left {
	float: left;
	width: 281px;
}
#body-right {
	float: right;
	width: 384px;
}
#topic-pic {
	background: #666;
	padding: 10px;
}
#body-left h2 {
	background: #f00;
	font-size: 12px;
	color: #fff;
	padding: 6px 23px;
	margin: 6px 0 60px 0;
}
#body-left ul {
	margin: 30px 55px;
}
#body-left li {
	margin: 5px;
}

#body-right .box {
	padding: 15px;
	background: #fff;
	border: 1px solid #999;
	margin: 3em 0;
}
#body-right h2 {
	font: 18px "arial narrow", arial, sans-serif;
}
#body-right .box p {
	margin: 0 0 1em 0;
}
#body-right .box .left {
	margin-right: 15px;
	border: 1px solid #999;
}
#body-right .box .btns {
	text-align: right;
	padding-top: 10px;
	position: relative;
}
.btns a {
	background: left #CC0000 url(images/btn.gif) repeat-y;
	border: 2px solid #E68282;
	border-color: #E68282 #650000 #650000 #9C2828;
	color: #fff;
	font-weight: normal;
	padding: 3px 15px 3px 20px;
	position: relative;
}
.btns a:hover {
	background-color: #EF1818;
	color: #fff;
}

#copyright {
	background: top left url(images/footer_bg.gif) repeat-x;
	float: right;
	width: 425px;
	clear: both;
	margin-right: 9px;
	padding-bottom: 30px;
	_margin-right: 5px;
}

#copyright-left {
	background: top left url(images/footer_left.gif) no-repeat;
	padding: 27px 30px;
	font-size: 11px;
	text-align: center;
}
///////////////////tracker
body {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 8pt;

  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;

}

table {
  border-collapse: collapse;
  border: none;
    background: #fff;
}

table.main, table.mainouter {
  background-color: #F5F4EA;//#F4F4F0;
}

table.bottom {
  background: transparent;
}

h1 {
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-bottom: 6px;
}

p {
	font-size: 8pt;
}

p.sub { 
  margin-bottom: 4pt;
}

td {
	font-size: 8pt;
	border: solid #999 1px;
}

td.embedded {
   border: none;
   padding: 0px;
  text-align: left;
}

td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 10pt;
  text-align: left;
}

td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: #000000;
  background: top center url(images/header_bg.jpg) ;


}
td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
	font-size: 14pt;
}

td.navigation {
	font-weight: bold;
	font-size: 10pt;
   border: none;
}

td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}

form {
	margin-top: 0;
	margin-bottom: 0;
}

.sublink {
	font-style: italic;
	font-size: 7pt;
	font-weight: normal;
}

font.gray
{
  color: #ACA899;
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: underline;
  color: #000000;
  /*font-weight: bold;*/
}

a:hover {
  color: #FF0000;
}

a.index {
	font-weight: bold;
}

a.biglink {
	font-weight: bold;
	font-size: 12pt;
}

a.altlink:link, a.altlink:visited{
	font-weight: bold;
	color: #A83838;
	text-decoration: none;
}

a.altlink:hover {
  text-decoration: underline;
}

a.altlink_blue:link, a.altlink_blue:visited{
	font-weight: bold;
	color: #004E98;
	text-decoration: none;
}

a.altlink_blue:hover {
  text-decoration: underline;
}

a.altlink_green:link, a.altlink_green:visited{
	font-weight: bold;
	color: #007800;
	text-decoration: none;
}

a.altlink_green:hover {
  text-decoration: underline;
}

.important {
	font-weight: bold;
	font-size: 8pt;
}

.red {
	color: #ee0000;
}

.yellow {
	color: #997700;
}

.green {
	color: #000000;
}

input, select, textarea {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 8pt;
}

.btn {
  width: 75px;
  height: 23px;
}

.small {
  font-size: 7pt;
}

.big {
  font-size: 10pt;
}

li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

ul {
  margin-left: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

img.border  
{  
  border-style: solid;  
  border-color: #000000; 
  border-width: 1px; 
}



input.groovybutton
{
background: left #CC0000 url(images/btn.gif) repeat-y;
	border: 2px solid #E68282;
	border-color: #E68282 #650000 #650000 #9C2828;
	color: #fff;
	font-weight: normal;
	padding: 3px 15px 3px 20px;
	position: relative;

   }


input.groovybutton2
{
   background-color:#CCCCCC;
   border-style:groove;
}

div.editor {
margin: 0px 0px 1px 0px;
width: 100%;
height: 21px;
border: 1px #D1D8EC solid;
}

div.editorinput {
background: #FAFAFA;
color: #000000;
border: 1px #D1D8EC solid;
font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none;
}

div.editorbutton {
float: left;
cursor: pointer;
padding: 2px 1px 0px 5px;
}
div.editor {
margin: 0px 0px 1px 0px;
width: 100%;
height: 21px;
border: 1px #D1D8EC solid;
}

div.editorinput {
background: #FAFAFA;
color: #000000;
border: 1px #D1D8EC solid;
font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none;
}

div.editorbutton {
float: left;
cursor: pointer;
padding: 2px 1px 0px 5px;
}
td.forum {
  font-weight: bold;
  color: #000000;
  background: top center url(images/nagl2.gif) ;
 }
a.pagelink
{
	font-weight: normal !important;
	border: 1px solid #628fe8;
	padding: 3px 3px 3px 3px;
}
a:hover.pagelink
{
	background-color: #3873a9;
	border: 1px solid #3873a9;
	color: #FFFFFF !important;
	text-decoration: none !important;
}
.pageinactive
{
	border: 1px solid #dddddd;
	color: #999999;
	padding: 3px 3px 3px 3px;
}
.editor {
	margin: 0px 0px 1px 0px;
	width: 400px;
	height: 21px;
	border: 1px #D1D8EC solid;
   
}

.editorinput {
	background: #FAFAFA;
	color: #000000;
	border: 1px #D1D8EC solid;
	font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none;
        background-image: url(images/day.gif);
}

.editorbutton {
	float: left;
	cursor: pointer;
	padding: 2px 1px 0px 5px;
}

code {
	background: none;
	color: #0000FF;
	font-size: 11px;
	font-family: Verdana, Helvetica;
}

.code {
	color: #0000BB;
	font-size: 11px;
	font-family: Verdana, Helvetica;
}



.tableinborder {
    border-width: 0px;
    background-color: #7E838C;
}

.tabletitle {
    color: #093349;
    background-color: #ffffff;
background-image: url(images/catpic.gif);
}

.tablecat {
    color: #093349;
    background-color: #DDE8F4;
background-image: url(images/cellpic.gif);
}


.tablea {
    color: #093349;
    background-color: #ffffff;

}


.tableb {
    color: #093349;
    background-color: #EAF1F9;

}

select {
    color: #000000
    background-color: #E8E8E8;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;

}

textarea {
    color: #000000
    background-color: #E8E8E8;
    font-family: verdana,tahoma,helvetica;
    background-image: url(images/day.gif);
    font-size: 11px;

}

input {
    color: #000000
    background-color: #E8E8E8;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
background-image: url(images/input.gif); 
border : 1px solid #000000;
}
pre.nfo {
	width: 700px;
  height: 444px;
  max-height: 444px;
  background-color: #F0F0E6;
  border: 0px inset;
  padding: 2px 8px;
  font: 11px Courier New;
  overflow: scroll ;
}

.linked-image {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.resized-linked-image {
	margin: 1px 0px 0px 0px;
	padding: 0px;
	background-color: #000;
	border: 0px;
	color: #FFF;
	font-size: 10px;
	width: auto;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

.resized-linked-image-zoom {
	width: 200px;
	height: 30px;
	background-color: #FFF;
	padding-top: 6px;
	padding-left: 5px;
	top: 0px;
	left: 0px;
	position: absolute;
	display: none;
}


.spoiler {
font-family: "arial";
font-size: 10px;
color: #******;
background-color: #******;
}

.clear     { clear: both; height: 0; font-size: 0px; line-height: 0px; overflow: hidden; }

.clickable { cursor: pointer; }
.folded    { background: transparent url(/pic/plus.gif) no-repeat left center; padding-left: 30px; }
.unfolded  { background: transparent url(/pic/minus.gif) no-repeat left center; padding-left: 30px; }

.news-head {
    font-size: 11px; padding: 1px 14px 3px; margin-left: 6px; line-height: 15px;
}
.news-body {
    padding: 1px 6px 2px; display: none;
    border-top: 1px solid #C3CBD1;
}
.spoiler_head {
  color: #2A2A2A;
  font-weight: bold;
  border: 1px solid #C3CBD1;
  border-left: 3px solid #C3CBD1;
  padding: 3px;
  background:#E9E9E6;
  cursor: pointer;
}

.spoiler_body {
  border: 1px solid #C3CBD1;
  border-left: 3px solid #C3CBD1;
  border-top: none;
  padding: 3px;
  background:#F5F5F5;
}